<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DatabaseManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DatabaseManagement.Properties.Settings>
            <setting name="Authentication" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="Main_Size" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="Main_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>(Local)</value>
            </setting>
            <setting name="View" serializeAs="String">
                <value>0</value>
            </setting>
        </DatabaseManagement.Properties.Settings>
    </userSettings>
</configuration>
